

body {
    background-color: #6699ff;
    color: #D5E3FF;
    font-family: Verdana, Arial, sans-serif;
}

header {
    color: #003366;
    font-family: serif;
}
h1 {
	text-align:center;
     color: #003366;
    font-size: 200%;
}
nav{
	text-align:center;
    font-weight: bold;
}

.category {
	text-shadow: 1px 1px 1px #667;
    font-weight: bold;
    color: #003366;
    font-size: 1.1em;
}
footer{
    font-style: italic;
    font-size: .70em;


}
footer nav {
	text-align: left)
}

#wrapper {
    min-width 700;
	miax-width 1024;
    margin-right: auto;
    margin-left: auto;
}

img {
	border: none;
}