header, nav, main, footer { display:block;}


main{
	margin-left: 180px;
	padding-right: 20px;
	padding-bottom: 20px; 
}


body { background-color: #6699ff;
	       color: #d5e3ff;
		   font-family: Verdana, Arial, Helvetica, sans-serif;
		 }
		

	
.category { background-color: #FFFFFF;
            color: #003366;
            font-weight: bold;
	        font-size: 1.1em;
				   }
	
.navBar{ margin-left: 0;
         padding-left: 0;
		 text-decoration:none;
         list-style-type:none;}

.navBar a:link {
        color:#3262A3;}


.navBar a:visited {
           color:#6699FF;}

.navBar a:hover {
         color:#CCCCCC;
         text-decoration:none;
}
		   
#img { padding: 10px; }
		   
#container { 
			 width: 700px;
		   }
		   
#footer { font-size: .70em;
	      font-style: italic;
			 }
			 
#logo { padding-left: 70px; }

#leftcolumn { float: left; 
              width: 140px;
			  }
			  
#rightcolumn { margin-left: 170px; 
              }

img {border:0 }